.menu section {
  width: 900px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  padding: 20px 0;
}

.menu section img + img {
  width: 348px;
  height: 53px;
}

.img-left {
height: 55px;
max-width: 250px;
}

.img-right {
margin-left: auto;
max-width: 350px;
height: 50px;
}

.header {
  height: 500px;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: left center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header section {
  width: 900px;

  display: flex;
  justify-content: flex-end;
}

.header h1 {
  color: #294481;
  font-size: 42px;
  line-height: 1em;
}

.card img{
  width: 115px;
  height: 103px;
}

.especialidades {
padding: 90px 0;
background-color: #294481;
}

.especialidades section {
  max-width: 900px;
  margin: 0 auto;

  margin-top: -150px;
}

.especialidades section h3 {
  color: #294481;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.especialidades section .card {
  margin: 0 15px;
}

.especialidades .card-especialidades {
background-color: white;
padding: 20px;
border-radius: 16px;
box-shadow: 0px 5px 20px rgba(0,0,0,.3);
}

.especialidades .card-especialidades img {
  width: 32%;
}

/*  */
.seu-coracao {
  padding: 120px 0;
}

.seu-coracao section {
  width: 900px;
  margin: 0 auto;
}

.seu-coracao section h2 {
  font-weight: bold;
  color: #294481;
}

.seu-coracao section button {
  border: none;
  padding: 20px;

  text-transform: uperrcase;
  background-color: #294481;
  color: white;
  border-radius: 8px;
}

.seu-coracao section img {
  border-radius: 8px;
}

/*  */

.equipe {
  background-color: #294481;
  }
  
  .equipe section {
    max-width: 900px;
    margin: 0 auto;
  }

  .equipe section .row {
    padding: 200px 0;
  }
  
  .equipe section h2 {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    color: white;
  }

  .equipe section h3 {
    margin-top: 20px;
  }

  .equipe-img-wrapper {
    padding: 20px;
    background-color: white;

    
    margin: 0 auto;
    margin-top: -180px;
    border-radius: 50%;
  }

  .equipe-img-wrapper img {
    border-radius: 50%;
  }

  .card-equipe {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.3);
  }

  .convenios {
    margin-bottom: 100px;
  }

  .convenios section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 100px 0;
  }

  .convenios section h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .convenios section .swiper-slide {
    background-color: white;

    border-radius: 16px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.17);
  }

  .convenios section .swiper-wrapper {
    padding: 50px 0;
  }

  .convenios section .swiper-wrapper img {
    border-radius: 8px;
  }




  .contato {
    background-color: #294481;
    padding: 120px 0;
  }
  
  .contato section {
    width: 900px;
    margin: 0 auto;
  }
  .contato section h2,
  .contato section h3,
  .contato section p {
    color: white;
  }


  .localizacao {
    height: 400px;
    background-image: url('../images/bg-map.png');
    background-position: center center;
    block-size: cover;
  }


  .footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294481;
    color: white;
    padding: 10px;
    
    
  }
