.menu section {
  width: 900px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  padding: 20px 0;
}

.menu section img + img {
  width: 348px;
  height: 53px;
}

.img-left {
height: 55px;
max-width: 250px;
}

.img-right {
margin-left: auto;
max-width: 350px;
height: 50px;
}

.header {
  height: 500px;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: left center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header section {
  width: 900px;

  display: flex;
  justify-content: flex-end;
}

.header h1 {
  color: #294481;
  font-size: 42px;
  line-height: 1em;
}

.card img{
  width: 115px;
  height: 103px;
}

.especialidades {
padding: 90px 0;
background-color: #294481;
}

.especialidades section {
  max-width: 900px;
  margin: 0 auto;

  margin-top: -150px;
}

.especialidades section h3 {
  color: #294481;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.especialidades section .card {
  margin: 0 15px;
}

.especialidades .card-especialidades {
background-color: white;
padding: 20px;
border-radius: 16px;
box-shadow: 0px 5px 20px rgba(0,0,0,.3);
}

.especialidades .card-especialidades img {
  width: 32%;
}

/*  */

.equipe {
  padding: 90px 0;
  }
  
  .equipe section {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .equipe section h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .equipe section .card {
    margin: 0 15px;
  }

  .convenios {
    margin-bottom: 100px;
  }

  .convenios section {
    max-width: 1100px;
    margin: 0 auto;
  }

  .convenios section h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .seu-coracao {
    background-color: #ededed;
    padding: 90px 0;
  }

  .seu-coracao img {
    width: 800px;
    height: 550px;
  }

  .seu-coracao section {
    max-width: 900px;
    margin: 0 auto;
  }

  .contato {
    padding: 90px;
  }

  .contato section h2 {
    margin-bottom: 50px;
  }

  .contato section {
    min-width: 900px;
    margin: 0 auto;
  }

  .contato section span {
    display: flex;
  }

  .contato section p {
    font-style: 22px;
  }

  .contato section span img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .contato form {
    margin-top: 50px;
  }

  .localizacao {
    height: 400px;
    background-image: url('../images/bg-map.png');
    background-position: center center;
    block-size: cover;
  }

  .footer {
    background-color: #8d8d8d;
    padding: 0;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer p {
    color: white;
  }
